body {
	 font-family: 'lato', sans-serif;
}

a:link {
  color: #D14141;
  background-color: transparent;
  text-decoration: none;
}
 .container {
	 max-width: 1000px;
	 margin-left: auto;
	 margin-right: auto;
	 padding-left: 20px;
	 padding-right: 10px;
}
 h2 {
	 font-size: 26px;
	 margin: 20px 0;
	 text-align: center;
}
 h2 small {
	 font-size: 0.5em;
}
 .responsive-table li {
	 border-radius: 3px;
	 padding: 25px 30px;
	 display: flex;
	 justify-content: space-between;
	 margin-bottom: 25px;
}
 .responsive-table .table-header {
	 background-color: #5fbae9;
	 font-size: 14px;
	 text-transform: uppercase;
	 letter-spacing: 0.03em;
}
 .responsive-table .table-row {
	 background-color: #fff;
	 box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
 .responsive-table .col-1 {
	 flex-basis: 20%;
}
 .responsive-table .col-2 {
	 flex-basis: 15%;
}
 .responsive-table .col-3 {
	 flex-basis: 25%;
}
 .responsive-table .col-4 {
	 flex-basis: 25%;
}
 .responsive-table .col-5 {
	 flex-basis: 15%;
}
 @media all and (max-width: 767px) {
	 .table-header {
		 display: none;
	}
	 li {
		 display: block;
	}
	 .col {
		 flex-basis: 100%;
	}
	 .col {
		 display: flex;
		 padding: 10px 0;
	}
	 .col:before {
		 color: #6c7a89;
		 padding-right: 10px;
		 content: attr(data-label);
		 flex-basis: 50%;
		 text-align: right;
	}
}

}
