{% load static %}
<footer class="page-footer" style="background-color:rgb(59,144,177);">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">


    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 ">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:white;"></h5>
       <img class="img-fluid" src="{% static "images/iMRR.png" %}" width="140px" height="50px"/>

      </div>

      <!-- Grid column -->
  <!-- Call to action -->
   <div class="col-md-4">
                     <h6 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:white;">Recevez nos actualités</h6>
                      <div class="form-inline">
                            <input type="email" class="form-control mr-1" placeholder="Saissisez votre email..."/>
                          <center>
                           <button class="btn btn-primary" style="margin-bottom : 10%">Envoyer</button>
                              </center>
                      </div>
                   </div>
  <!-- Call to action -->
      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
	  	        <div class="col-md-3 ">
				<ul class="list-unstyled list-inline text-center mt-5" style="color:white;">
    <li class="list-inline-item" style="color:white;">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f" style="color:white;"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"  style="color:white;"> </i>
      </a>
    </li>
  </ul>
</div>
      <div class="col-md-1">


        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:white;">Liens</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color:white;">Home</a>
          </li>
          <li>
           <a href="#!" style="color:white;">Etudiants</a>
          </li>
          <li>
           <a href="#!" style="color:white;">Enseignants</a>
          </li>
          <li>
        </ul>

      </div>

  </div>
  <!-- Footer Links -->

  <hr>


  <!-- Social buttons -->

  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color:white;">© 2020 Université Paris Nanterre

  </div>
  <!-- Copyright -->

</footer>